@import url('https://fonts.googleapis.com/css?family=Spectral');
*{
	box-sizing: border-box;
}
body{
	font-family: 'Spectral', serif;
}
.top-nav{
	background: #E5BEED;
}
.navbar{
	display: flex;
	font-size: 30px;
	padding: 5px 20px;
}
.nav-toggle{
	margin-left: auto;
	cursor: pointer;
	margin-right: 5px;
}
nav ul{
	list-style: none;
}
.nav-list-collapsed{
	display: none;
}
